{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>

    <link href="{% static 'marketplace/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'marketplace/css/style.css' %}" type="text/css" rel="stylesheet" media="all">

</head>
<body>

    <div class="container">
         <div class="col-md-12">
             {% block image %}
             <img src="{% static 'marketplace/images/404.jpg' %}" class="img-fluid" alt="" style="outline: none; cursor: inherit;">
            {% endblock %}
         </div>
    </div>


<div class="footer_agileinfo_topf py-5 editContent" style="outline: none; cursor: inherit;">
    <div class="cpy-right text-center py-3">
            <p>© 2020 Marketplace. All rights reserved | Design by SPACE TECHNOLOGY</p>
    </div>
</div>
</body>
</html>