{% extends 'base.html' %}


{% block content %}
     {% if result %}
        <table class="table table-bordered mt-4">
            <thead>
            <tr>
                <th>Company Name</th>
                <th>Phone_no</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for results in result %}

                <tbody>
                <tr>
                    <td>{{ results.company_name }}</td>
                    <td>{{ results.phone_no }}</td>
                    <td>

                      <a href="{% url 'business_detail' business_id=results.id %}">Details</a>

                    </td>
                </tr>
                </tbody>

            {% endfor %}
        </table>
    {% else %}
        <p>0 results found.</p>
    {% endif %}

                        <a href="{% url 'indexPage' %}">Go back to home page</a>


{% endblock %}