asgiref==3.2.10
Babel==2.8.0
Delorean==1.0.0
dependency-injector==3.39.0
Django==3.1
gunicorn==20.0.4
humanize==2.6.0
mysql-connector-python==8.0.21
Pillow==7.2.0
protobuf==3.13.0
psycopg2-binary==2.8.5
python-dateutil==2.8.1
pytz==2020.1
selenium==3.141.0
six==1.15.0
sqlparse==0.3.1
tzlocal==2.1
urllib3==1.25.10
whitenoise==5.2.0
python-dotenv 
