{% extends 'base.html' %}

{% load static %}
    {% block content %}

        <section class="banner-bottom py-5 editContent" style="outline: none; cursor: inherit;">
            <div class="container py-md-5">
                <!-- product right -->
                <div class="left-ads-display wthree">
                    <div class="row">
                        <div class="desc1-left col-md-6">
                            <img src="{% static 'marketplace/images/img7.jpg' %}" class="img-fluid" alt="" style="outline: none; cursor: inherit;">
                        </div>
                        <div class="desc1-right col-md-6 pl-lg-3">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">{{ business.company_name }}</h3>
                            <h5 class="editContent" style="outline: none; cursor: inherit;"> {{ business.company_address }}</h5>
                            <h3 class="editContent" style="outline: none; cursor: inherit;">{{ business.service_title }}</h3>
                            <h5 class="editContent" style="outline: none; cursor: inherit;"> {{ business.phone_no }}</h5>
                            <a href="{% url 'business_update' business_id=business_id %}" class="editContent" style="outline: none; cursor: inherit;">click to update your business profile</a>
                            <div class="available mt-3">
                                <form action="#" method="post" class="w3pvt-newsletter subscribe-sec">
                                    <button class="w3pvt-newsletter subscribe-sec" style="outline: none; cursor: inherit;"><a href="{% url 'customer_index' %}" >Look For customers</a></button>


                                </form>

                                <button class="btn submit" style="outline: none; cursor: inherit;"><a href="{% url 'userPage' %}" class="editContent" style="outline: none; cursor: inherit;">Go back to profile</a></button>

                            </div>
                            <div class="share-desc mt-5">
                                <div class="share text-left">
                                    <h4 class="editContent" style="outline: none; cursor: inherit;">Share Product :</h4>
                                    <div class="social-ficons mt-4">
                                        <ul>
                                            <li><a href="https://web.facebook.com/" class="facebook editContent" style="outline: none; cursor: inherit;"><span class="fa fa-facebook" style="outline: none; cursor: inherit;"></span> Facebook</a></li>
                                            <li><a href="#" class="twitter editContent" style="outline: none; cursor: inherit;"><span class="fa fa-twitter" style="outline: none; cursor: inherit;"></span> Twitter</a></li>
                                            <li><a href="https://myaccount.google.com/" class="google editContent" style="outline: none; cursor: inherit;"><span class="fa fa-google" style="outline: none; cursor: inherit;"></span>Google</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </section>


    {% endblock %}