{% extends 'base.html' %}
{% load static %}

    {% block content %}

       {% if staff %}

    <section class="banner-bottom py-5 editContent" style="outline: none; cursor: inherit;">
            <div class="container">
                <div class="content-grid">
                    <div class="text-center icon">
                        <span class="fa fa-user-circle-o" style="outline: none; cursor: inherit;"></span>
                    </div>
                    <div class="content-bottom">
                              <div class="card-header">
                                <h3 class="card-title">{{ staff.user }}</h3>
                              </div>
                        <div class="field-group">


                                <label>Staff Code</label>
                            <div class="field-group">
                                <div class="content-input-field editContent" style="outline: none; cursor: inherit;">
                                    <input placeholder="{{ staff.staff_code }}" disabled>
                                </div>
                            </div>

                                <label>Job title</label>
                            <div class="field-group">
                                <div class="content-input-field editContent" style="outline: none; cursor: inherit;">
                                    <input placeholder="{{ staff.job_title }}" disabled>
                                </div>
                            </div>

                                <label>Home Address</label>
                            <div class="field-group">
                                <div class="content-input-field editContent" style="outline: none; cursor: inherit;">
                                    <input placeholder="{{ staff.address }}" disabled>
                                </div>
                            </div>

                                <div class="content-input-field">
                                <button type="submit" class="btn" style="outline: none; cursor: inherit;"><a href="{% url 'staffList' %}">Go back to staff list</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    {% else %}
        <div class="btn">This staff is invalid.</div>
    {% endif %}

    {% endblock %}
</body>
</html>